body {
  background-color: #111;
  color: #bbb;
  font-family: monospace, "lucida console", "courier new";
  font-size: 10pt;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

a {
  color: #ccc;
  text-decoration: none;
  font-weight: bold;
}

div#menu {
    margin: 0 auto;
    width: 300pt;
}

div.menu_section {
    width: 100%;
    background-color: #333;
    padding: 5pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

h2 {
    margin-bottom: 5pt;
}

button {
    margin: 5pt;
}

div.result {
    left: 5pt;
    right: 5pt;
    width: 100%;
    height: 30pt;
    text-align: center;
    vertical-align: middle;
    line-height: 30pt;
    font-size: 16pt;
    color: white;
    background-color: #666;
    margin-bottom: 5pt;
}

div.failure {
    background-color: #932;
}

img.thumb {
    height: 150pt;
    margin-right: 2pt;
    margin-bottom: 1pt;
}
