<!doctype html>
<html ng-app='images'>
    <head>
        <title>Manage Images4</title>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-hotkeys.min.js"></script>
        <script src="js/angular-touch.min.js"></script>
        <script src="js/images.js"></script>
    </head>
    <body>
        <div ng-controller="Manage" ng-init="mode = 'location'">
            <div class="title">
                <button ng-click="set_mode('location')" />Locations</button>
                <button ng-click="set_mode('import_job')" />Import Jobs</button>
                <button ng-click="set_mode('deletion')" />Deletions</button>
                {{me.name}}/{{me.id}} :: {{message}}
            </div>
            <div ng-controller="Location" class="manage" ng-if="location_mode()">
                <h3>Locations</h3>
                <table>
                    <tr>
                        <th class="number">Id</th>
                        <th>Name</th>
                        <th>Folder</th>
                        <th>Subfolder</th>
                        <th>Type</th>
                        <th class="number">User Id</th>
                        <th>Source</th>
                        <th>Keep Original</th>
                        <th>Read Only</th>
                        <th>Auto Tag</th>
                        <th>Auto User</th>
                        <th>Wants</th>
                        <th>Scan</th>
                        <th>Import</th>
                    </tr>
                    <tr ng-repeat="location in location_feed.entries">
                        <td class="number">{{location.id}}</td>
                        <td>{{location.name}}</td>
                        <td>{{location.metadata.folder}}</td>
                        <td>{{location.metadata.subfolder}}</td>
                        <td>{{location_type[location.type]}}</td>
                        <td class="number">{{location.metadata.user_id}}</td>
                        <td>{{location.metadata.source}}</td>
                        <td class="{{bool2str(location.metadata.keep_original)}}">
                            {{bool2str(location.metadata.keep_original)}}
                        </td>
                        <td class="{{bool2str(location.metadata.read_only)}}">
                            {{bool2str(location.metadata.read_only)}}
                        </td>
                        <td class="{{bool2str(location.metadata.auto_tag)}}">
                            {{bool2str(location.metadata.auto_tag)}}
                        </td>
                        <td class="{{bool2str(location.metadata.auto_user)}}">
                            {{bool2str(location.metadata.auto_user)}}
                        </td>
                        <td>{{purpose[location.metadata.wants]}}</td>
                        <td><button 
                                ng-show="location.trig_scan_url"
                                ng-click="empty_post(location.trig_scan_url)">Scan now</button>
                        </td>
                        <td><button 
                                ng-show="location.trig_import_url"
                                ng-click="empty_post(location.trig_import_url)">Import now</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-controller="ImportJob" class="manage" ng-if="import_job_mode()">
                <h3>Import Job</h3>
                <table>
                    <tr>
                        <th class="number">Id</th>
                        <th class="number">Location</th>
                        <th class="number">Entry</th>
                        <th>Path</th>
                        <th class="number">User Id</th>
                        <th>State</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Message</th>
                        <th>Reset</th>
                        <th>Delete</th>
                    </tr>
                    <tr ng-repeat="import_job in import_job_feed.entries">
                        <td class="number">{{import_job.id}}</td>
                        <td class="number">{{import_job.location.id}}</td>
                        <td class="number">{{import_job.entry_id}}</td>
                        <td>{{import_job.path}}</td>
                        <td class="number">{{import_job.user_id}}</td>
                        <td class="{{import_job_state[import_job.state]}}">
                            {{import_job_state[import_job.state]}}
                        </td>
                        <td>{{import_job.create_ts}}</td>
                        <td>{{import_job.update_ts}}</td>
                        <td>{{import_job.metadata.error}}</td>
                        <td><button 
                                ng-show="import_job.trig_reset_url"
                                ng-click="empty_post(import_job.trig_reset_url)">Reset</button>
                        </td>
                        <td><button 
                                ng-show="import_job.self_url"
                                ng-click="delete(import_job.self_url)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-controller="Deletion" class="manage" ng-if="deletion_mode()">
                <h3>Deletions</h3>
                <p>
                    There are <b>{{delete_info.marked}}</b> entries marked for deletion.
                    <b>{{delete_info.delayed}}</b> of them are delayed.
                    <button ng-click="empty_post(delete_info.trig_url)">Delete now</button>
                </p>
            </div>
        </div>
    </body>
</html>

